<!-- your html code here -->
<div class="col mx-5 mb-5 border-top pb-3">
    <div class="row px-5 pt-5 pb-3">
        <h2>Contact</h2>
        <h4 style="font-weight: normal !important;">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </h4>
    </div>
    <div class="row">
        <div class="col-sm-3 col-lg-6 mx-auto bg-light rounded-3 py-2 pe-2 ps-5">
            <form>
                <div class="row mb-3 ps-5">
                    <label id="input" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" placeholder="Your email address here" id="input">
                    </div>
                </div>
                <div class="row mb-3 ps-5">
                    <label class="col-sm-2 col-form-label ps-0"><strong>Your message</strong></label>
                    <div class="col-sm-10">
                        <div class="form-floating">
                            <textarea class="form-control h-100" placeholder="Enter your message here."
                                id="floatingTextarea"></textarea>
                            <label for="floatingTextarea" style="color: gray;">Enter your message here.</label>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-2 pb-3">
                    <button class="btn btn-primary" type="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>