<!-- your html code here -->
<div class="container text-center bg-white">

  <div class="row align-items-start">

    <div class="col-md-3 text-center">
      <img class="rounded-circle w-160" src="../website/assets/img/2.jpg" alt="">
    </div>

    <div class="col-md-9">
      <p class="h1">The Second Heading<span class="text-secondary"> Is Pretty Cool Too</span></p><br>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
        consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

  </div>

</div>

<hr class="featurette-divider">